<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="google-site-verification" content="vWGuaDwq5KsrVgTrc76d7wT7Ga1dIgTmTT2C_tlmLz4" />
    <meta name="google-site-verification" content="eNWzqpyx1QnIeRZLVX4WCZ-mK0sfxxx4YMmVRh1RFXE" />
    <title><%= current_page.data.title || "The Middleman" %></title>
    <%= stylesheet_link_tag "basscss/basscss" %>
    <%= javascript_include_tag  "all" %>

    <script type="text/javascript" src="//use.typekit.net/lpq6eur.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!-- Optimized mobile viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

  </head>
  <body class="<%= page_classes %>">
      <div id="yeezus">
        <%= yield %>
      </div>
    </body>
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
                                                              function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-24725855-4','auto');ga('send','pageview');
    </script>
</html>
