---
title: SquareFormat
---

<section>
  <header id="global-nav" class="bg-light-yellow p3">
    <div class="logo">
      <h1 class="h1 m0 dark-gray">SquareFormat</h1>
      <h2 class="p m0 regular dark-gray">Discover new Instagram photgraphers everyday</h2>
    </div>

    <a class="contribute" href="mailto:hello@squareformat.co?subject=You Should Feature" title="Contribute">Suggest a Instagram photgrapher</a>

  </header>

  <article>
    <div class="list-date">
      <h3>19<sup>th</sup> July</h3>
    </div>
    
    <ul class="list-reset insta-people">
      <% data.photographers.each do |photographer| %>
        <li class="mb2 block clearfix">
          <a href="http://instagram.com/<%= photographer %>" class="dark-gray">
            <section class="relative">
              <header class="z1 clearfix absolute absolute-center smooth-sailing">
                <%= image_tag(avatar(photographer), class: 'left mr2') %>
                <div class="insta-meta smooth-sailing oh">

                  <h1 class="h1 m0 ellipsis">@<%= photographer %></h1>
                  <h2 class="p m0 regular ellipsis"><%= full_name(photographer) %></h2>
                </div>
              </header>
              <div class="table table-fixed">
                <%= recent_media(photographer) %>
              </div>
            </section>
          </a>
        </li>
      <% end %>
    </ul>
  </article>


  <footer>

    <p><b>SquareFormat</b> is an internet thing from <a href="http://simplecasual.com/">Simple Casual</a>, <a href="http://luke.exposure.co">Luke Beard</a> and <a href="https://zachacole.exposure.co/">Zach Cole</a>

    <p><a class="contribute" href="mailto:hello@squareformat.co?subject=You Should Feature" title="Contribute" style="border-bottom:solid 2px #000">Suggest a Instagram photgrapher</a></p>

  </footer>

</section>
