---
title: Discover new Instagram photgraphers, every day | SquareFormat
---

<section>
  <header id="global-nav" class="bg-light-yellow p3">
    <div class="logo">
      <h1 class="h1 m0 dark-gray">SquareFormat</h1>
      <h2 class="p m0 regular dark-gray">Discover new Instagram photographers, every day.</h2>


    </div>
    <a class="contribute" href="mailto:hello@squareformat.co?subject=You Should Feature" title="Contribute">Suggest an photographer</a>
  </header>
  <article>
    <% data.photographers.each do |day| %>
      <div class="list-date">
        <%= datify(day.date) %>
      </div>
      <ul class="list-reset insta-people">
        <% day.photographers.each do |photographer| %>
          <li class="mb2 block clearfix">
            <a href="http://instagram.com/<%= photographer.username %>" class="dark-gray link-layer">
              <section class="relative">
                <header class="z1 full-width clearfix absolute absolute-center smooth-sailing">
                  <%= image_tag(avatar(photographer.username), class: 'left mr2') %>
                  <% link_to "http://instagram.com/#{photographer.curator}", alt: "Curated by @#{photographer.curator}" do %>
                    <%= image_tag(avatar(photographer.curator), class: 'left curator') %>
                  <% end %>
                  <div class="insta-meta smooth-sailing oh">
                    <h1 class="h1 m0 ellipsis">
                      <a href="http://instagram.com/<%= photographer.username %>" class="dark-gray link-layer">@<%= photographer.username %></a>
                    </h1>
                    <h2 class="p m0 regular ellipsis"><%= full_name(photographer.username) %></h2>
                    <h4 class="p m0 regular ellipsis">
                      Curated by 
                        <% link_to "http://instagram.com/#{photographer.curator}", alt: "Curated by @#{photographer.curator}" do %><%= full_name(photographer.curator) %>
                      <% end %>
                   </h2>
                  </div>
                </header>
                <div class="table table-fixed">
                  <%= recent_media(photographer.username) %>
                </div>
              </section>
            </a>
          </li>
        <% end %>
      </ul>

      <div class="social-push">
        <h2>Suggest a photographer</h2>
        <p>You can <a href="http://twitter.com/squareformatco">Tweet at us</a>, send us a <a href="http://instagram.com/squareformatco">Instagram Direct</a> or suggest awesome people over on our <a href="http://facebook.com/squareformatco">Facebook</a> page.</p>
       </div>
    <% end %>
  </article>

  <footer>
    <hr class="sf-logo smooth-sailing">
    <p><b>SquareFormat</b> is an internet thing from <a href="http://simplecasual.com/">Simple Casual</a>, <a href="https://luke.exposure.co">Luke Beard</a> and <a href="https://zachacole.exposure.co/">Zach Cole</a>
    <p><a class="contribute bb-2" href="mailto:hello@squareformat.co?subject=You Should Feature" title="Contribute">Suggest an Instagram photographer or say Hi</a></p>


      <form action="//alexbaldwin.us7.list-manage.com/subscribe/post?u=772a21ec21a471387f298f0ab&amp;id=6e8abcdd78" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
        <input type="email" value="" placeholder="you@emailaddress.party" name="EMAIL" class="required email" id="mce-EMAIL" autofocus>
          <input type="text" style="display: none;" name="b_772a21ec21a471387f298f0ab_6e8abcdd78" tabindex="-1" value="">
          <input type="submit" value="Subscribe for updates" name="subscribe" id="mc-embedded-subscribe">
      </form>

  </footer>
</section>
